PORT=3001
JWT_SECRET=
DATABASE_URL=postgres://reecicla_user:reecicla_password@localhost:5431/reecicla_auth_db
INTERNAL_SERVICE_TOKEN=
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=Reecicla <no-reply@reecicla.local>
