PORT=3002
JWT_SECRET=
DATABASE_URL=postgres://reecicla_user:reecicla_password@localhost:5432/reecicla_quotation_db
AUTH_SERVICE_URL=http://localhost:3001
CATALOG_SERVICE_URL=http://localhost:3003
INTERNAL_SERVICE_TOKEN=
